{% extends 'book/base.html' %}

{% block title%} <title>Lista libros</title> {% endblock %}

{% block content %}
    <article>
        <h1>Libros</h1>
        <h2>Libros disponible</h2>
        {% for libro in libros_disponibles %}
            <h3><a href="{% url 'detalle_libro' pk=libro.pk %}"><p>{{libro.titulo}}</p></a></h3>
            {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="">
            {% endif %}
            {% empty %}
            <p>No hay libros</p>
        {%endfor%}

        <h2>Libros prestado</h2>
        {% for libro in libros_prestados %}
            <h3><a href="{% url 'detalle_libro' pk=libro.pk %}"><p>{{libro.titulo}}</p></a></h3>
            {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="">
            {% endif %}
            {% empty %}
            <p>No hay libros</p>
        {%endfor%}

    </article>
    <a href="{% url 'nuevo_libro' %}" role="button">Nuevo Libro</a>
{% endblock %}