{% extends 'book/base.html' %}

{% block title%} <title>Lista mis libros</title> {% endblock %}

{% block content %}
    <article>
        <h1>Libros prestados</h1>

        {% for prestamo in prestamos_prestados %}
            <h3><a href="{% url 'detalle_libro' pk=prestamo.libro.pk %}"><p>{{prestamo.libro}}</p></a></h3>
            <p>{{prestamo.fecha_prestamo}}</p>
            <p>{{prestamo.fecha_devolucion}}</p>
            {% empty %}
            <p>No hay libros</p>
        {%endfor%}

        <h1>Libro devueltos</h1>
        {% for prestamo in prestamos_devueltos %}
            <h3><p>{{prestamo.libro}}</p></h3>
            <p>{{prestamo.fecha_prestamo}}</p>
            <p>{{prestamo.fecha_devolucion}}</p>
            {% empty %}
            <p>No hay libros</p>
        {%endfor%}

    </article>
    
{% endblock %}